*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	overflow: hidden;
}
body{
	min-height: 100%
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
div{
	box-sizing: border-box;
}
.me{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 5px #FFF;
	box-shadow: 0 10px 10px #21778F;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.me{
	
	animation-name: popOut;
	animation-duration: 3s;
}
@keyframes popOut {
     0% {transform: translate3d(0,0,0)}
    25%  {transform: translate3d(-330px,0,0) }
    50%  {transform: translate3d(-330px,-250px,0)}
    75% {transform: translate3d(0,-250px,0)}
    100% {transform: translate3d(0,0,0)}
}
.wrapper { 
  display: grid; 
  grid-gap: 0; 
  background-color: #fff; 
  grid-template-columns: 33.33334% 33.33334% 33.33334%; ]
  grid-template-rows: 50%;
  color: #444; 
  width: calc(100% - 10px);
  grid-column-gap:5px;
  grid-row-gap:5px;
} 
p{
	font-size: 16px;
	color: #4D5B69;
	line-height: 24px;
}
.box { 
  background-color: #444; 
  color: #26ABB2; 
  padding: 20px; 
  font-size: 150%;
  height: 50vh;
  position: relative;
}
.a{
	background-color: #26ABB2;
	font-size: 42px;
	color: #FFF;
}
h3{
	font-weight: 300;
	font-size: 24px;
	margin-bottom:12px; 
}
.b,.c,.d,.e,.f{
	background-color: #f2f2f2;
}
/*.b{
	background-color: #FFB07B;
}
.e{
	background-color: #95F9FF;
}
.d{
	background-color: #FFBF94;
}
.f{
	background-color: #287B7F;
}*/
.print{
}